<!DOCTYPE html>
<html>
<head>

</head>

<body style="background-color:gainsboro">
    <div style="background-color:darkviolet; padding:10px; margin:0">
        <h1 style="color:snow;text-decoration-color:unset; text-size-adjust:40%">Bienvenido a Carvajal</h1>
    </div>
        <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JOSIMAR HERNÁNDEZ YANCES</p>
        </footer>
    </div>

</body>
</html>
