<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <h1>Bienvenido a Carvajal</h1>
        <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JOSIMAR HERNÁNDEZ YANCES</p>
        </footer>
    </div>

</body>
</html>
